<div class="container">
    <div class="body">
        <div class="mi-logo">
            <h2>Login Tareas</h2>
        </div>
        <form [formGroup]="login" (ngSubmit)="logearse()">
            <div class="input-cool">
                <input formControlName="email" placeholder="Ingrese un Email" type="text" />
            </div>
            <div class="input-cool">
                <input formControlName="password" placeholder="ingrese contraseña" type="password" />
            </div>
            <div class="buttons">
                <button  type="submit">Login</button><br/><br/>  
                <button routerLink="/tareas/auth/register" type="submit">Registrarse</button>
            </div>
        </form>
    </div>
</div>